@model OnlineShop.Models.DomainModels.ProductViewModel
@{
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/Product.css" />
</head>

<body>
    <div>
        <div class="col-md-6 description">
            <div class="select-product-container">
                @Html.HiddenFor(model => model.Id)
                <h1>@Model.Name</h1>
                <h3>@Model.Price pln</h3>
                @Html.DropDownListFor(model => model.Size, Model.SizeSelectList, "Please select")
                @Html.DropDownListFor(model => model.Color, Model.ColorSelectList, "Please select")
                <input class="button-add" type="button" value="Add to cart" onclick="AddToCart()" />
                <h5>@Model.Description</h5>
            </div>
        </div>
        <div col-md-6>
            <div class="gallery">
                <img src="~/images/shop1-big.jpg" class="gallery-first" alt="">
                <div class="preview">
                    <img src="~/images/shop1-small.jpg" class="room-active" alt="">
                    <img src="~/images/shop2-small.jpg" alt="">
                    <img src="~/images/shop3-small.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="goToCartPopup" role="dialog">
        <div class="modal-dialog" style="background-color: white">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Added to your cart!</h4>
            </div>
            <div class="modal-body">
                <p>Do you want to continue shopping?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Continue shopping</button>
                <button type="button" class="btn btn-default" onclick="GoToCart()">Go to shopping cart</button>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/js/Product.js"></script>

    @await Component.InvokeAsync("SuggestedProducts")


</body>